$color: #dadada;
@keyframes erase {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    display: none;
  }
} 

.Box {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  opacity: 1;
  animation-duration: .3s;
  animation-iteration-count: 1;
  transition: .2s;

  &.erasing {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }
}

.Box__header {
  width: 100%;
  background-color: #393b3c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.75rem 1.5rem;
  border-color: #3e4040;
  display: flex;
  box-sizing: border-box;
  font-size: 0.75rem;
  color: #dadada;
}

.Box__body {
  background-image: linear-gradient(#424445, #2f3032);
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem 1.5rem;
  border-color: #3e4040;
  box-sizing: border-box;
  color: #dddddd;

  h2 {
    margin-top: 0;
    color: #dcdcdc;
  }

  .content {
    font-size: 0.75rem;
    margin: 1.5rem 0;
  }

  .options {
    display: flex;
    align-items: center;
    margin: 1.5rem -10px;
    flex-wrap: wrap;

    button {
      background-color: #2c2e30;
      border-color: transparent;
      margin: 5px;
      border-radius: 4px;
      padding: 0.25rem 0.75rem;
      color: inherit;
      outline: none;
      cursor: pointer;
      user-select: none;
      font-size: 0.75rem;

      &:focus {
        background-color: black;
      }
    }
  }

  .separator {
    height: 2rem;
  }
}
